@import "../../styles/colors.scss";
@import "../../styles/constants.scss";

.game-piece {
    padding: 0.5rem;
    cursor: pointer;

    .row {
        display: flex;

        div {
            box-sizing: border-box;
            width: $CELL_SIZE;
            height: $CELL_SIZE;
        }
    }

    &:hover {
        padding-top: 0.6rem;
        padding-bottom: 0.4rem;
    }
}
