@import "../../styles/colors.scss";

.game-container {
    display: flex;
    flex-direction: row;
    border: 2px solid $game-border-color;
    border-radius: 3px;
    justify-content: flex-start;
    align-items: center;
    min-width: 900px;
    max-width: 1000px;
    height: 675px;
    background-color: $game-container-color;
}

.right-pane {
    display: flex;
    flex-direction: column;
    height: 100%;

    .inner {
        display: flex;
        flex-direction: column;
        height: calc(100% - 2rem);
        padding: 1rem 0rem 1rem 1rem;
    }
}

.left-pane {
    display: flex;
    flex-direction: column;
    height: 100%;

    .inner {
        padding: 0 1rem 1rem;
    }
}

.hide-cursor {
    cursor: none;
}

.active-piece {
    pointer-events: none;
    z-index: 100;
}

.action-buttons-container {
    padding: 1rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    button:nth-child(1) {
        margin: 0rem 1rem;
    }
}
