@import "../styles/colors.scss";

.online-game-list {
    margin: 0 auto 0 auto;
    padding: 8px;
    border-radius: 3px;
    border: 2px solid $game-border-color;
    height: 400px;
    background-color: $game-board-squares-color;
    min-width: 600px;
    max-width: 700px;

    table {
        width: 70%;
        thead {
            text-align: left;

            th {
                margin: 0 8px;
                padding: 0 8px;
                border: 0px;

                > * {
                    margin-bottom: 0px;
                }
            }
        }

        td {
            color: lighten($text-color, 20%);
            padding: 2px 8px;
        }
    }
}
