$background-color: #EEFFDE;
$text-color: #10110f;
$game-border-color: $text-color;
$btn-border-color: $text-color;
$btn-primary-color: #A4F558;
$btn-secondary-color: #EDCDF1;
$p1-color: #F00;
$p2-color: #0C0;
$p3-color: #00F;
$p4-color: #f0e000;
$p1-border-color: rgba(232, 232, 232, 0.454);
$p2-border-color: rgba(6, 87, 6, 0.577);
$p3-border-color: rgba(9, 9, 75, 0.365);
$p4-border-color: rgba(99, 93, 12, 0.515);

$game-container-color: #f9f9f9;
$game-board-color: #ebebeb;
$game-board-squares-color: #8c8c8c;

@mixin tmp {
    color: #B8FF75;
    background-color: #9A1BA8;
    border-color: #E558F5;
}
