.game-pieces {
    display: flex;
    flex-wrap: wrap;
}

.game-piece {
    padding: 0.5rem;

    .row {
        display: flex;

        div {
            box-sizing: border-box;
            width: 2rem;
            height: 2rem;
        }
    }
}

