.game-container {
    display: flex;
    flex-direction: column;
    margin: 1rem auto 0 0;
    border: 2px solid #10110f;
    border-radius: 3px;
    padding: 1rem;

    max-width: 1008px;
    background-color: #f9f9f9;
}

.hide-cursor {
    cursor: none;
}

.active-piece{
    pointer-events: none;
}