@import "./colors.scss";

@import "./game.scss";
@import "./gamePieces.scss";
@import "./gameContainer.scss";
@import "./gameBoard.scss";

@mixin krona-one-font {
    font-family: 'Krona One', sans-serif;
}

@mixin exo-font {
    font-family: 'Exo', sans-serif;
}

body {
    background-color: $background-color;
    color: $text-color;
    @include exo-font();
}

h1 {
    @include krona-one-font();
}

@mixin button {
    @include exo-font();
    border: 2px solid $btn-border-color;
    border-radius: 3px;
    font-size: 1.5rem;
    cursor: pointer;
    outline: none;
    color: $text-color;
    
    &:active {
        position: relative;
        top: 2px;
    }
}

.btn-primary {
    @include button();

    background-color: $btn-primary-color;
}

.btn-secondary {
    @include button();

    background-color: $btn-secondary-color;
}
