@import "./colors.scss";

@import "./game.scss";
@import "./gamePieces.scss";
@import "./gameContainer.scss";
@import "./gameBoard.scss";
@import "./newGame.scss";
@import "./help.scss";

@mixin krona-one-font {
    font-family: "Krona One", sans-serif;
}

@mixin exo-font {
    font-family: "Exo", sans-serif;
}

body {
    background-color: $background-color;
    color: $text-color;
    @include exo-font();
}

h1 {
    @include krona-one-font();
    font-size: 1.5rem;
}

a {
    @include exo-font();
    color: $text-color;

    &:visited {
        color: $text-color;
    }
}

@mixin button {
    @include exo-font();
    border: 2px solid $btn-border-color;
    border-radius: 3px;
    font-size: 1.5rem;
    cursor: pointer;
    outline: none;
    color: $text-color;

    &:active {
        position: relative;
        top: 2px;
    }
}

.btn-primary {
    @include button();

    background-color: $btn-primary-color;
}

.btn-secondary {
    @include button();

    background-color: $btn-secondary-color;
}

.flex-row {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.error-message-container {
    user-select: none;
    min-width: 900px;
    max-width: 1000px;
    padding: 8px;
    color: red;
    font-size: 30px;
    margin-left: 1rem;
}

.help-button {
    margin-left: 8px;
}
