@import "./game.scss";
@import "./gamePieces.scss";
@import "./gameContainer.scss";
@import "./gameBoard.scss";

@mixin krona-one {
    font-family: 'Krona One', sans-serif;
}

@mixin exo {
    font-family: 'Exo', sans-serif;
}

@mixin tmp {
    color: #B8FF75;
    background-color: #9A1BA8;
    border-color: #E558F5;
}

body {
    background-color: #EEFFDE;
    color: #10110f;
    @include exo();
}

h1 {
    @include krona-one();
}

@mixin button {
    @include exo();
    border: 2px solid #10110f;
    border-radius: 3px;
    font-size: 1.5rem;
    cursor: pointer;
    outline: none;
    
    &:active {
        position: relative;
        top: 2px;
    }
}

.btn-primary {
    @include button();

    background-color: #A4F558;
}

.btn-secondary {
    @include button();

    background-color: #EDCDF1;
}
