@import "../../styles/colors.scss";

.online-games-lobby
{
    &.left-pane { 
        .inner{
            height: 100%;
        }

        .online-game-list {
            flex-grow: 1;
        }
    }


    &.right-pane {

        .inner {
            display: flex;
            flex-direction: column;
            padding: 72px 0rem 1rem 1rem;
        }

        button {
            margin-top: 8px;
        }
    }

    .start-game-container {
        margin-top: 24px;
    }
}

.online-game-list {
    margin: 0 auto 0 auto;
    padding: 8px;
    border-radius: 3px;
    border: 2px solid $game-border-color;
    height: 400px;
    background-color: $game-board-squares-color;
    min-width: 600px;
    max-width: 700px;
    overflow-y: scroll;

    table {
        width: 70%;
        thead {
            text-align: left;

            th {
                margin: 0 8px;
                padding: 0 8px;
                border: 0px;

                > * {
                    margin-bottom: 0px;
                }
            }
        }

        td {
            color: lighten($text-color, 20%);
            padding: 2px 8px;
            cursor: pointer;
        }

        tr{
            &.selected {
                background-color: darken($game-board-squares-color, 10%);
            }

            &:active {
                background-color: darken($game-board-squares-color, 20%);
            }
        }
    }
}
